// .home__background {
//   background-image: url(../../Assets/images/felipeweblogoWP.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.home {
  color: black;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neucha", cursive;

  &_img1 {
    width: 30%;
  }
  // &_img1:hover {
  //   border: solid 0.2rem #ecfefe;
  // }
  &_rectangle1 {
    width: 380px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    // background-image: url(../../Assets/images/felipeweblogo2single.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    left: 8rem;
    &_title {
      background-color: rgba(0, 0, 0, 0);
      width: 30%;
      position: relative;
      right: 2rem;
      font-size: 24px;
    }
    &_text {
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      top: 3rem;
      left: 6rem;
      text-align: center;
    }
  }
}
.home2 {
  color: black;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &_rectangle2 {
    width: 50rem;
    height: 15rem;
    background-color: #ecfefe;
    position: relative;
    right: 0rem;
    bottom: 5rem;
    font-family: "PlayFair Display";

    &_text_text {
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      left: 4rem;
      top: 10rem;
      width: 60rem;
      font-size: 1.4rem;
    }

    &_author_text {
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      left: 5rem;
      top: 12rem;
      text-align: center;
    }
  }
}

.home3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &_rectangle3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    height: 400px;
    background-image: url(../../Assets/images/felipeweblogoWP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &_text {
      background-color: rgba(0, 0, 0, 0);
      position: relative;
      left: 8rem;
      font-size: 3rem;
      font-family: "Neucha", cursive;
    }
  }
}

.img2 {
  width: 35rem;
  position: relative;
  left: 2rem;
}
// .img2:hover {
//   border: solid 0.2rem #ecfefe;
// }

.img3 {
  background-color: #ffffff00;
  position: relative;
  top: 10rem;
  right: 5rem;
}

.home4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-family: "Neucha", cursive;
  margin-bottom: 5rem;
  &_rectangle4 {
    width: 300px;
    height: 100px;
    background-color: #ecfefe;
    position: relative;
    right: 10rem;
  }
  &_rectangle5 {
    width: 300px;
    height: 100px;
    background-color: white;
    background-image: url(../../Assets/images/felipeweblogo2single.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 15rem;
    top: 2rem;
    display: flex;
    align-items: center;
  }
  &_text {
    background-color: #ffffff00;
    position: relative;
    bottom: 3.8rem;
    right: 3rem;
  }
}

.img4 {
  width: auto;
  position: relative;
  right: 10rem;
  background-color: #ffffff00;
}
