@import "../../partials/partials.css";

// .bg {
//   background-image: url(../../Assets/images/felipeweblogoWP.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 10rem;
//   width: 100%;
// }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;

  &_logo {
    width: 300px;
    height: auto;
    position: absolute;
    left: 20%;
    bottom: 5rem;
    z-index: -1;
    background-color: rgba(187, 26, 26, 0);
  }

  &_titles {
    display: flex;
    align-items: center;
    // background-image: url(../../Assets/images/felipeweblogo2single.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    &_title {
      font-size: 6rem;
      width: 300px;
      color: #6bc3e9;
      font-family: "Montagu Slab", "arial";
      background-color: rgba(245, 245, 245, 0);
    }
    &_subtitle {
      font-size: 1.2rem;
      position: relative;
      min-width: 17rem;
      right: 4rem;
      top: 2rem;
      font-family: "Neucha", cursive;
      background-color: rgba(245, 245, 245, 0);
    }
    &_title:hover {
      color: black;
      text-decoration: line-through;
    }
    // &_subtitle:hover {
    //   color: #6bc3e9;
    //   text-decoration: line-through;
    // }
  }
  &_links {
    width: 35%;
    min-width: 490px;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #6bc3e9;
    border-bottom: 2px solid #6bc3e9;
    font-family: "Alegreya SC";
    font-weight: bold;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    position: relative;
    bottom: 4rem;

    &_link {
      color: #6bc3e9;
    }
    &_link:hover {
      color: black;
    }
  }
}
