@import "../../partials/partials.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  &_titles {
    display: flex;
    align-items: center;

    &_title {
      font-size: 6rem;
      width: 300px;
      color: #6bc3e9;
      font-family: "Montagu Slab";
    }
    &_subtitle {
      position: relative;
      right: 4rem;
      top: 2rem;
      font-family: "Neucha", cursive;
    }
    &_title:hover {
      color: black;
      text-decoration: line-through;
    }
    &_subtitle:hover {
      color: #6bc3e9;
      text-decoration: line-through;
    }
  }
  &_links {
    width: 35%;
    min-width: 490px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #6bc3e9;
    border-bottom: 2px solid #6bc3e9;
    font-family: "Alegreya SC";
    font-weight: bold;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    position: relative;
    bottom: 4rem;

    &_link {
      color: #6bc3e9;
    }
    &_link:hover {
      color: black;
    }
  }
}
