@font-face {
  font-family: "Montagu Slab";
  src: url("../Assets/fonts/MontaguSlab/MontaguSlab-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Neucha", cursive;
  src: url("../Assets/fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Alegreya SC";
  src: url("../Assets/fonts/Alegreya\ SC/");
}

@font-face {
  font-family: "PlayFair Display";
  src: url("../Assets/fonts/Playfair\ Display/");
}
