* {
  margin: 0;
  //   overflow-x: hidden;
  background-color: #f0f0f0;
  box-sizing: border-box;
  max-width: 2200px;
}

a {
  text-decoration: none;
  color: black;
  background-color: #ffffff00;
}

a:hover {
  color: #6bc3e9;
  text-decoration: line-through;
}
